{% extends 'home/base.html' %}

{% block content %}
    <form class="container" action="" method="post">
        <h3>Create recipe</h3>
        <div class="mb-3 d-flex">
            <label style="width: 100px;" for="{{ form.title.id_for_label }}" class="form-label">Title</label>
            <div style="width: 500px;">
                {{ form.title }}
            </div>
        </div>
        <div class="mb-3 d-flex">
            <label style="width: 100px;" for="{{ form.content.id_for_label }}" class="form-label">Content</label>
            <div style="width: 10px;">
                {{ form.content }}
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

    <form class="container mt-5" action="" method="GET">
        <div class="mb-3">
            <label for="search_query" class="form-label">Search</label>
            <input type="text" class="form-control" id="search_query" name="search_query" placeholder="Enter search query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div class="container mt-5">
        <h2>Search Results:</h2>
        {% if recipes %}
        <ul>
            {% for recipe in recipes %}
            <li>{{ recipe.title }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No results found.</p>
        {% endif %}
    </div>
    
{% endblock content %}
