{% extends 'home/base.html' %}

{% block content %}
<div class="d-flex justify-content-center" style="background-image: url('../../../../static/pexels-max-rahubovskiy-6508357.jpg'); background-position: center; background-size: cover; width: 100%; height: 100%;">
 <div class="text-center lign-items-center" style=" width: 70%; height: 150px; background-color: rgb(230, 230, 230, 0.8); margin-top: 25vh;">
  <h1 class="my-2 mb-3">Maruberta</h1>
  <h4>The place where you will find your favorite recipe!</h4>
 </div> 
</div>
 <!-- <img src="" style=""> -->
{% endblock content %}